/* переменные */

:root {
  --darkblue: #162831;
  --wight: #ffffff;
  --darkwight: rgba(255, 255, 255, 0.5);
  --blue: #018abe;
  --colorform: rgba(255, 255, 255, 0.1);
  --violet: #892be2;
  --blackLight: rgba(0, 0, 0, 0.6);
  --red: #ee3643;

  /* добавить медиа запросы  и ретину*/
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'proxima Nova';
  src: url('../fonts/proximanova_regular.woff2') format('woff2'),
    url('../fonts/proximanova_regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'proxima Nova Light';
  src: url('../fonts/proximanova_light.woff2') format('woff2'),
    url('../fonts/proximanova_light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'proxima Nova semibold';
  src: url('../fonts/proximanova-semibold.woff2') format('woff2'),
    url('../fonts/proximanova-semibold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'proxima Nova Bold';
  src: url('../fonts/proximanova_bold.woff2') format('woff2'),
    url('../fonts/proximanova_bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  background-color: var(--darkblue);
  font-family: 'proxima Nova', sans-serif;
  color: var(--wight);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  min-height: 100vh;
  min-width: 320px;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  overflow-x: hidden;
}

.button {
  font-family: 'proxima Nova semibold', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: var(--wight);
  background-color: var(--blue);
  padding: 9px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  opacity: 0.5;
}

.title {
  font-family: 'El Messiri', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 59px;
  text-align: center;
  position: relative;
  margin: 0;
}

.title::before,
.title::after {
  content: '';
  position: absolute;
  background-image: url('../img/decor-left.svg');
  background-repeat: no-repeat;
  width: 28px;
  height: 14px;
  top: 50%;
  transform: translateY(-50%);
}

.title::before {
  margin-left: -75px;
}

.title::after {
  margin-left: 50px;
  background-image: url('../img/decor-right.svg');
}

.container {
  max-width: 1336px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.header__wrap {
  margin-top: 30px;
  margin-bottom: 46px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__wrap--decorate {
  padding-bottom: 25px;
  border-bottom: 1px solid var(--darkwight);
  margin-bottom: 59px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  list-style: none;
  margin-right: 50px;
  font-size: 14px;
  line-height: 19px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  color: var(--wight);
}

.header__link:hover,
.header__link:focus {
  opacity: 0.5;
}

.slogan {
  background-image: url('../img/background-main-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  border-radius: 10px;
}

.slogan__title {
  font-family: 'El Messiri', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 90px;
  max-width: 600px;
  text-align: center;
  margin: 0;
  margin-bottom: 70px;
}

.slogan__text {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 40px;
}

.slogan__text::before {
  background-image: url('../img/decor-left-wight.svg');
  margin-left: 94px;
}

.slogan__text::after {
  background-image: url('../img/decor-right-wight.svg');
  margin-left: 64px;
}

.sessions {
  margin-bottom: 140px;
}

.sessions__title {
  margin-bottom: 100px;
}

.sessions__list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 23px;
  min-height: 540px;
}

.sessions__item {
  overflow: hidden;
}

.sessions__item--big {
  grid-column: 1/2;
  grid-row: 1/3;
}

.sessions__link {
  position: relative;
}

.sessions__link:hover,
.sessions__link:focus {
  opacity: 0.5;
}

.sessions__text {
  margin: 0;
  position: absolute;
  color: var(--wight);
  font-family: 'El Messiri', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  z-index: 10;
  width: 300px;
  margin-left: 40px;
  bottom: 30px;
}

.sessions__link img {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  border: none;
  border-radius: 11px;
}

.sessions__item--big .sessions__link::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 7px;
  background-color: var(--blue);
  bottom: 4px;
  left: 0;
  border-radius: 0px 0px 10px 10px;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 137px;
}

.reviews__title {
  margin-bottom: 100px;
}

.reviews__slider {
  display: flex;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}

.reviews-slide {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 500px;
  background-color: var(--blue);
  margin-bottom: 10px;
  opacity: 0.4;
  padding: 40px 45px 20px;
  border-radius: 10px;
}

.reviews-slide--active {
  opacity: 1;
  max-width: 630px;
  min-height: 350px;
}

.reviews__subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.reviews-slide--active .reviews__subtitle {
  font-size: 20px;
  line-height: 28px;
}

.reviews__text {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
}

.reviews-slide--active .reviews__text {
  font-size: 14px;
  line-height: 20px;
}

.reviews__dots {
  display: flex;
  justify-content: center;
}

.reviews__dot {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 10px;
  border: 1px solid var(--blackLight);
  background-color: var(--blackLight);
  opacity: 0.5;
}

.reviews__dot--active {
  border: 1px solid var(--wight);
  background-color: var(--wight);
  opacity: 1;
}

.about-us {
  margin-bottom: 171px;
}

.about-us__title {
  margin-bottom: 100px;
}

.about-us__item {
  display: flex;
  padding-right: 90px;
  padding-left: 70px;
  margin-bottom: 100px;
}

.about-us__item:nth-child(2n) {
  flex-direction: row-reverse;
  padding-right: 108px;
  padding-left: 43px;
}

.about-us__item:last-child {
  margin-bottom: 0;
}

.about-us__content {
  flex-basis: 50%;
  align-self: center;
  padding-right: 70px;
}

.about-us__item:nth-child(2n) .about-us__content {
  padding-left: 83px;
  padding-right: 0;
}

.about-us__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 30px;
}

.about-us__text {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
}

.about-us__image img {
  height: 100%;
  max-height: 450px;
  border-radius: 12px;
}

.price {
  padding-right: 110px;
  padding-left: 110px;
  margin-bottom: 151px;
}

.price__title {
  margin-bottom: 100px;
}

.price__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__list {
  padding: 0;
  flex-grow: 1;
  margin: 0;
  margin-right: 130px;
  margin-top: 16px;
  padding-left: 40px;
}

.price__item {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.price__item::before {
  content: '';
  position: absolute;
  background-image: url('../img/decor-left.svg');
  background-repeat: no-repeat;
  width: 28px;
  height: 14px;
  margin-left: -45px;
}

.price__item p {
  margin: 0;
  margin-bottom: 31px;
}

.price__subtitle {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  margin-top: 25px;
}

.price__image img {
  border-radius: 12px;
}

.adress {
  margin-bottom: 84px;
}

.adress__wrap {
  display: flex;
}

.adress__map img {
  height: 100%;
  border-radius: 10px;
  opacity: 0.8;
}

.adress__content {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  flex-grow: 1;
  gap: 24px;
}

.adress__conten-wrap {
  background-color: var(--blue);
  border-radius: 10px;
  padding: 35px 41px;
}

.adress__subtitle {
  font-family: 'El Messiri', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-bottom: 20px;
}

.adress__text {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  position: relative;
  padding-left: 40px;
}

.adress__text--calendar {
  margin-bottom: 33px;
}

.adress__text::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  left: 0;
}

.adress__text--street::before {
  background-image: url('../img/location-icon.svg');
  width: 20px;
  height: 20px;
}

.adress__text--metro::before {
  background-image: url('../img/metro-icon.svg');
  width: 20px;
  height: 16px;
}

.adress__text--calendar::before {
  background-image: url('../img/calendar-icon.svg');
  width: 20px;
  height: 20px;
}

.adress__button {
  background-color: var(--wight);
  color: var(--blue);
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer__wrap--decorate {
  border-top: 1px solid var(--darkwight);
}

.foter__text {
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  padding-bottom: 10px;
}

/* page NEWWS */

.news {
  margin-bottom: 112px;
}

.news__title {
  margin-bottom: 60px;
}

.news__list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 24px;  
}

.news__link {
  position: relative;
}

.news__link:hover,
.news__link:focus {
  opacity: 0.5;
}

.news__text {
  margin: 0;
  position: absolute;
  color: var(--wight);
  font-family: 'El Messiri', sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  z-index: 10;
  width: 330px;
  margin-left: 33px;
  bottom: 41px;
}

.news__text--date {
  font-size: 15px;
  line-height: 19px;
  bottom: 209px;
  width: auto;
  padding: 6px 12px;
  background-color: var(--blue);
  border-radius: 5px;
}

.news__link img {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 11px;
}

/* page BLOGS */

.blogs-page {
  margin-bottom: 120px;
}

.blogs-page__title {
  margin-bottom: 60px;
}

.blogs-page__container {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.blogs-page__wrap {
  display: flex;
  padding: 50px 60px;
  border: 1px solid var(--blue);
  border-radius: 10px;
}

.blogs-page__image {
  padding-right: 50px;
}

.blogs-page__image img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.blogs-page__content {
  flex-basis: 54%;
}

.blogs-page__subtitle {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 34px;
}

.blogs-page__text {
  margin: 0;
  margin-bottom: 40px;
}

.blogs-page__text--date {
  font-size: 14px;
  line-height: 19px;
  bottom: 220px;
  padding: 6px 12px;
  background-color: var(--blue);
  border-radius: 5px;
  margin-bottom: 30px;
  display: inline-block;
}

.blogs-page__button {
  display: inline-block;
  margin-bottom: 40px;
}

/* модальное окно */

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--blackLight);
  z-index: 200;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
  opacity: 0;
}

.modal-show {
  display: block;
  opacity: 1;
}

.form {
  background-color: var(--blue);
  width: 490px;
  padding: 33px 39px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -30%);
  transform: translate(-50%, -30%);
  border-radius: 10px;
}

.fixed-page {
  z-index: 15;
  overflow: hidden;
}

.form__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
  margin-bottom: 20px;
}

.form__text {
  margin: 0;
  margin-bottom: 20px;
}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 40px;
}

.form__item input,
.form__item textarea {
  width: 100%;
  background-color: var(--colorform);
  border: none;
  padding-left: 16px;
  color: var(--wight);
  resize: none;
  border-radius: 10px;
}

.form__item input::placeholder,
.form__item textarea::placeholder {
  font-size: 16px;
  line-height: 22px;
  color: var(--wight);
  padding-bottom: 16px;
  font-family: 'proxima Nova', sans-serif;
}

.form__item input:hover,
.form__item input:focus,
.form__item textarea:hover,
.form__item textarea:focus {
  -webkit-box-shadow: 0 0 2px 2px var(--violet);
  box-shadow: 0 0 2px 2px var(--violet);
}

.form__item input {
  height: 50px;
}

.form__item textarea {
  min-height: 150px;
  padding-top: 16px;
}

.form__button {
  width: 100%;
  background-color: var(--colorform);
  border-radius: 10px;
}

.form__button--modal {
  display: block;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  top: 20px;
  right: 20px;
}

.form__button--modal::before,
.form__button--modal::after {
  content: '';
  position: absolute;
  background-color: #ffffff;
  width: 16px;
  height: 1px;
  top: 10px;
  right: 6px;
}

.form__button--modal::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form__button--modal::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.form__button--modal:hover,
.form__button--modal:focus {
  opacity: 0.5;
}

.form__error {
  box-shadow: 0 0 2px 2px var(--red);
}
